<h3>Simple List Component</h3>
<mat-expansion-panel
        *ngIf="m.state$ | async as a"
        (expandedChange)="v.listExpandedChanges.next($event)"
        [expanded]="a.listExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            User Name
        </mat-panel-title>
        <mat-panel-description>
            <span *ngIf="!a.listExpanded">{{a.list.length}} Repositories</span>
            <span *ngIf="a.listExpanded">{{a.list.length}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- NOTE: in the view the only variable we want to touch is `vm`-->
    <button mat-raised-button color="primary"
            (click)="v.refreshClicks.next($event)">
        Refresh List
    </button>

    <div *ngIf="a.list.length; else noList">
        <mat-list>
            <mat-list-item *ngFor="let item of a.list">
                {{item.name}}
            </mat-list-item>
        </mat-list>
    </div>

    <ng-template #noList>
        <mat-card>No list given!</mat-card>
    </ng-template>

</mat-expansion-panel>
