<!-- NOTE: in the view the only variable we want to touch is `vm`-->
<style>
    .list .mat-expansion-panel-header {
        position: relative;
    }
    .list .mat-expansion-panel-header mat-progress-bar {
        position: absolute;
        top: 0px;
        left: 0;
    }

    .list .mat-expansion-panel-content .mat-expansion-panel-body {
          padding-top: 10px;
    }
</style>
<h3>List Component</h3>
<mat-expansion-panel
        class="list"
        *ngIf="vm.state$ | async as m"
        (expandedChange)="vm.listExpandedChanges.next($event)"
        [expanded]="m.listExpanded">
    <mat-expansion-panel-header style="position: relative">
        <mat-progress-bar [mode]="m.refreshPending ? 'query' : 'determinate'" [value]="vm.countDownOutput$ | async"></mat-progress-bar>
        <mat-panel-title style="width: 30%;">
            User Name
        </mat-panel-title>
        <mat-panel-description>
            <span *ngIf="!m.listExpanded">{{m.selectedItems.length}} / {{m.list.length}}</span>
            <span *ngIf="m.listExpanded">{{m.selectedItems.length}} / {{m.list.length}} Selected</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <button mat-raised-button color="primary"
            (click)="vm.refreshClicks.next($event)">
        Refresh List
    </button>
    <mat-selection-list
            (selectionChange)="vm.selectionChanges.next($event)">
        <ng-container>
            <mat-list-option *ngFor="let item of m.list"
                             [value]="item"
                             [selected]="(vm.selectedOptions | async)[item.id] === true">
                {{item.name}}
            </mat-list-option>
        </ng-container>
    </mat-selection-list>
    <p>
        Options selected: {{(vm.selectedOptions | async | keyvalue).length}}
    </p>

</mat-expansion-panel>
