<!-- NOTE: in the view the only variable we want to touch is `vm`-->
<h3>List Component</h3>
{{(vm.state$ | async) | json}}
<mat-expansion-panel
        *ngIf="vm.state$ | async as state"
        (expandedChange)="vm.listExpandedChanges.next($event)"
        [expanded]="state.listExpanded">

    <mat-expansion-panel-header>
        <mat-panel-title>
            Repository List Title {{state.listExpanded | json}}
        </mat-panel-title>
        <mat-panel-description>
            List of repositories <span *ngIf="!state.listExpanded">&nbsp;- {{state.list.length}} Items</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <button mat-raised-button color="primary"
            (click)="vm.refreshClicks.next($event)">
        Refresh List
    </button>

    <mat-selection-list
            (selectionChange)="vm.selectionChanges.next($event)">
        <ng-container>
            <mat-list-option *ngFor="let item of state.list"
                             [value]="item"
                             [selected]="(vm.selectedOptionsChanges | async)[item.id] === true">
                {{item.name}}  {{item | json}}
            </mat-list-option>
        </ng-container>
    </mat-selection-list>
    <p>
        Options selected: {{(vm.selectedOptionsChanges | async | keyvalue).length}}
    </p>

</mat-expansion-panel>
