<h3>Simple List Component</h3>
<mat-expansion-panel
        *ngIf="state$ | async as state"
        (expandedChange)="listExpandedChanges.next($event)"
        [expanded]="state.listExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Repository List Title
        </mat-panel-title>
        <mat-panel-description>
            List of repositories <span *ngIf="!state.listExpanded">&nbsp;- {{state.list.length}} Items</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- NOTE: in the view the only variable we want to touch is `vm`-->
    <button mat-raised-button color="primary"
            (click)="refreshClicks.next($event)">
        Refresh List
    </button>

    <div *ngIf="state.list.length; else noList">
        <mat-list>
            <mat-list-item *ngFor="let item of state.list">
                {{item.name}}
            </mat-list-item>
        </mat-list>
    </div>

    <ng-template #noList>
        <mat-card>No list given!</mat-card>
    </ng-template>

</mat-expansion-panel>
